@model MyWebService.Models.SignUp

@{
    ViewData["Title"] = "Register";
}

<div class="container">

    <h2>@ViewData["Title"]</h2>

<form asp-action="Create">
	<div class="form-row">
		<div class="col-md-4 mb-3">
			<label asp-for="Name" for="validationServer01">Complete name</label>
			<input asp-for="Name" type="text" class="form-control is-valid" id="completeName" placeholder="Complete name" required>
			<div class="valid-feedback">
				Looks good!
			</div>
			<div class="invalid-feedback">
				Please choose a username.
			</div>
		</div>
		<div class="col-md-4 mb-3">
			<label asp-for="Username" for="validationServerUsername">Username</label>
			<div class="input-group">
				<input asp-for="Username" type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" required>
				<div class="invalid-feedback">
					Please choose a username.
				</div>
			</div>
		</div>

		<div class="col-md-4 mb-3">
			<label asp-for="Email" for="validationServerUsername">E-mail</label>
			<div class="input-group">
				<input asp-for="Email" type="email" class="form-control is-invalid" id="email" placeholder="E-mail" aria-describedby="inputGroupPrepend3" required>
				<div class="invalid-feedback">
					Please choose a username.
				</div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-3 mb-3">
			<label asp-for="ZipCode" for="validationServer05">Zip</label>
			<input asp-for="ZipCode" type="text" class="form-control is-invalid" id="validationServer05" placeholder="Zip" required>
			<div class="invalid-feedback">
				Please provide a valid zip.
			</div>
		</div>

		<div class="col-md-6 mb-3">
			<label for="validationServer03">City</label>
			<input type="text" class="form-control is-invalid" id="validationServer03" placeholder="City" required>
			<div class="invalid-feedback">
				Please provide a valid city.
			</div>
		</div>
		<div class="col-md-3 mb-3">
			<label for="validationServer04">State</label>
			<input type="text" class="form-control is-invalid" id="validationServer04" placeholder="State" required>
			<div class="invalid-feedback">
				Please provide a valid state.
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-check">
			<input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
			<label class="form-check-label" for="invalidCheck3">
				Agree to terms and conditions
			</label>
			<div class="invalid-feedback">
				You must agree before submitting.
			</div>
		</div>
	</div>
	<button class="btn btn-primary" type="submit" value="Index">Submit form</button>
</form>
<script src="~/js/SingUp/SingUp.js"></script>
